.header {
  text-transform: uppercase;
  text-align: center;
  height: 58px;
  width: 100%;
  background-color: var(--main-color);
  padding: 12px 0 12px 0;
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-heigth);
  font-weight: var(--font-weigth-bold);
}

.profile-section {
  width: 100%;
  /* height: 355px; */
  padding: 0px 175px 0px 227px;
  display: flex;
  justify-content: space-between;
  column-gap: 68px;
  margin: 51px 0 104px 0;
}

.profile-section-img {
  background-image: url(../assets/profile_2.png);
  min-width: 411px;
  height: 355px;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-text {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-heigth);
  font-weight: var(--font-weigth-bold);
  letter-spacing: 0.01em;
}

.about-me__line {
  height: 4px;
  background-color: var(--main-color);
  border: none;
  margin: 14px 0px 12px 0px;
}

.section-heading {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-heigth);
  font-weight: var(--font-weigth-bold);
  letter-spacing: 0.01em;
}

.section-description {
  font-size: var(--small-font-size);
  line-height: var(--small-line-heigth);
  font-weight: var(--font-weigth-normal);
  letter-spacing: 0.01em;
  margin: 30px 0 30px 0;
}

.about-me__btn {
  background: none;
  color: var(--text-color);
  padding: 15px 82px;
  border: 2px solid #FFFFFF;
  font-size: var(--btn-and-num-font-size);
  line-height: var(--btn-and-num-line-heigth);
  font-weight: var(--font-weigth-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.gallery-section {
  width: 100%;
  padding: 0px 175px 0px 227px;
  margin-bottom: 100px;
}

.section-description--margin {
  margin: 15px 0 28px 0;
}

.gallery-section-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20.35px;
}

.footer {
  width: 100%;
  height: 205px;
  background-color: var(--main-color);
}

.footer-avatar {
  border-radius: 50%;
  display: flex;
  height: 167px;
  justify-content: center;
  gap: 35px;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section-description--footer {
  margin: 0;
}

.avatar {
  border-radius: 50%;
  width: 94px;
  height: 94px;
}

.footer-list__heading {
  font-weight: var(--font-weigth-bold);
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer-list__phone {
  font-size: var(--btn-and-num-font-size);
  line-height: var(--btn-and-num-line-heigth);
  font-weight: var(--font-weigth-normal);
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.01em;
  background-color: #16758A;
  padding: 17px 0px 17px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 901px) {
  .profile-section {
    flex-direction: column;
    padding: 51px 71px 0 67px;
    gap: 65px;
    margin: 0 0 54px 0;
  }

  .profile-section-img {
  background-image: url(../assets/profile.png);
  }

  .gallery-section {
    padding: 0 67px 0 67px;
    margin-bottom: 51px;
  }
}